<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-groups
        [id]="id$ | async"
        [type]="type$ | async"
        [section]="groups$ | async"
      ></app-groups>
    </div>
    <div class="col-2">
      <app-accounts
        [id]="id$ | async"
        [type]="type$ | async"
        [section]="accounts$ | async"
      ></app-accounts>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-ticks
      *ngIf="(ticksIsLoading$ | async) === false"
      [id]="id$ | async"
      [type]="type$ | async"
      [section]="ticks$ | async"
      ></app-ticks>
    </div>
    <div class="col-10">
      <app-tv-chart></app-tv-chart>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <tabset #ordersTabs>
        <tab heading="ORDERS" id="orders" (select)="onSelectOrderTab('orders')">
          <app-orders
            *ngIf="(isLoadingOrders$ | async) === false"
            [section]="orders$ | async"
            [accountsS]="accounts$ | async"
          ></app-orders>
        </tab>
        <tab heading="POSITIONS" id="positions" (select)="onSelectOrderTab('positions')">
          <app-positions
            *ngIf="(isLoadingPositions$ | async) === false"
            [id]="id$ | async"
            [type]="type$ | async"
            [section]="positions$ | async"
            [accountsS]="accounts$ | async"
          ></app-positions>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<app-balance
  *ngIf="(isLoadingBalance$ | async) === false"
  [section]="balance$ | async"
  [groupsS]="groups$ | async"
  [accountsS]="accounts$ | async"
></app-balance>
