<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-accounts
        [section]="accountsSection$ | async"
      ></app-accounts>
    </div>
    <div class="col-3">
      <app-groups
        [section]="groupsSection$ | async"
      ></app-groups>
    </div>
  </div>
</div>
<hr>

<!--<app-ticks
  [section]="ticksSection$ | async"
></app-ticks>-->

<hr>

<div class="container-fluid">
  <div class="row">
    <div>
      <tabset>
        <tab heading="ORDERS" id="tab1">
          <app-orders
            [section]="ordersSection$ | async"
            [accountsSection]="accountsSection$ | async"
          ></app-orders>
        </tab>
        <tab heading="POSITIONS">
          <app-positions
            [section]="positionsSection$ | async"
          ></app-positions>
        </tab>
      </tabset>
    </div>
  </div>
</div>





<app-balance
  [section]="balanceSection$ | async"
></app-balance>
