<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-accounts
        [section]="accounts$ | async"
      ></app-accounts>
    </div>
    <div class="col-2">
      <app-groups
        [section]="groups$ | async"
      ></app-groups>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-ticks
      *ngIf="(ticksIsLoading$ | async) === false"
        [section]="ticks$ | async"
      ></app-ticks>
    </div>
    <div class="col-9">
      <!--<app-tv-chart></app-tv-chart>-->
    </div>
  </div>
</div>


<!--<hr>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <tabset>
        <tab heading="ORDERS" id="tab1">
          <app-orders
            *ngIf="(isLoadingOrders$ | async) === false"
            [section]="orders$ | async"
            [accountsS]="accounts$ | async"
          ></app-orders>
        </tab>
        <tab heading="POSITIONS">
          <app-positions
            *ngIf="(isLoadingPositions$ | async) === false"
            [section]="positions$ | async"
            [accountsS]="accounts$ | async"
          ></app-positions>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<app-balance
  *ngIf="(isLoadingBalance$ | async) === false"
  [section]="balance$ | async"
  [groupsS]="groups$ | async"
  [accountsS]="accounts$ | async"
></app-balance>
