<div class="container-fluid full-height">
  <div class="row">
    <div class="col-12 pt-3 pb-3">
      <tabset>
        <tab heading="Groups" id="tab1">
          <app-groups
            [groups]="groups"
            [accounts]="accounts"
            (update)="update($event)"
          ></app-groups>
        </tab>
        <tab heading="Accounts">
          <app-accounts
            [accounts]="accounts"
            (update)="update($event)"
          ></app-accounts>
        </tab>
        <!-- <tab heading="Basic Title 2">Basic content 2</tab> -->
      </tabset>
    </div>
  </div>
</div>
