<div>
  <tabset>
    <tab heading="Basic title" id="tab1">Basic content</tab>
    <tab heading="Accounts">
      <div class="container">
        <button class="btn btn-primary m-2" (click)="openModal(template)">+ Create account</button>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Create account</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Acc. Name</label>
                <input type="text" class="form-control" placeholder="Acc. Name" #accName>
              </div>
              <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name" #userName>
              </div>
              <div class="form-group">
                <label>
                  Exchange
                  <select class="custom-select" #exchange>
                    <option selected value="Bitfinex">Bitfinex</option>
                  </select>
                </label>
              </div>
              <div class="form-group">
                <label>
                  Base currency
                  <select class="custom-select" #bc>
                    <option selected value="BTC">BTC</option>
                  </select>
                </label>
              </div>
              <button
                type="submit"
                class="btn btn-outline-primary"
                aria-label="Close"
                (click)="modalRef.hide()"
              >CANCEL
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="confirmed($event, accName, userName, exchange, bc)"
              >ADD
              </button>
            </form>
          </div>
        </ng-template>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Acc. Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Exchange</th>
            <th scope="col">BC</th>
            <th scope="col">Equity</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of accounts">
            <th scope="col">{{ account.id }}</th>
            <td scope="col">{{ account.status }}</td>
            <td scope="col">{{ account.accName }}</td>
            <td scope="col">{{ account.userName }}</td>
            <td scope="col">{{ account.exchange }}</td>
            <td scope="col">{{ account.baseCurrency }}</td>
            <td scope="col">{{ account.equity }}</td>
            <td scope="col">{{ account.date }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </tab>
    <tab heading="Basic Title 2">Basic content 2</tab>
  </tabset>
</div>
