<div class="row">
  <div class="col-12">
    <tabset>
      <tab heading="POSITIONS">
        <table class="table table-xs">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Pair</th>
            <th scope="col">L/S</th>
            <th scope="col">Amount</th>
            <th scope="col">Open Price</th>
            <th scope="col">Market Price</th>
            <th scope="col">Stop</th>
            <th scope="col">Limit</th>
            <th scope="col">
              <span *ngIf="tradeType === 'group'">Fee</span>
              <span *ngIf="tradeType !== 'group'">Swap</span>
            </th>
            <th scope="col">PL</th>
            <th scope="col">PL(BTC)</th>
            <th scope="col">PL %</th>
            <th scope="col">Exposure (BTC)</th>
            <th scope="col">Opened</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let o of positions; let i = index">
            <tr>
              <td scope="row">
                <button
                  (click)="selectOrder(i)"
                  [disabled]="o.suborders === null || o.suborders.length == 0" *ngIf="selectedOrder != i"
                  class="btn btn-xs btn-primary"
                ><fa-icon icon="plus"></fa-icon></button>
                <button
                  (click)="selectOrder(i)"
                  *ngIf="selectedOrder == i"
                  class="btn btn-xs btn-outline-primary"
                ><fa-icon icon="minus"></fa-icon>
                </button>
              </td>
              <th scope="row">{{ o.pair }}</th>
              <td>{{ orderType[o.type.direction] }}</td>
              <td>{{ o.amount | number }}</td>
              <td>{{ o.open_price | number }}</td>
              <td>{{ o.current_price | number }}</td>
              <td>
                <button
                  [disabled]="role !== 'admin'"
                  (click)="openOrderModal(tradingModal, o, 'stop', false)"
                  class="btn btn-xs btn-outline-danger"
                >Add</button>
              </td>
              <td>
                <button
                  [disabled]="role !== 'admin'"
                  (click)="openOrderModal(tradingModal, o, 'limit', false)"
                  class="btn btn-xs btn-outline-warning"
                >Add</button>
              </td>
              <td>
                <span *ngIf="tradeType === 'group'">{{ o.fee | number }}</span>
                <span *ngIf="tradeType !== 'group'">{{ o.swap | number }}</span>
              </td>
              <td>{{ o.pl | number}}</td>
              <td>{{ o.plmain | number}}</td>
              <td>{{ o.plmprc | number}}</td>
              <td>{{ o.exposure | number}}</td>
              <td>{{ o.open_order_time | date:'short' }}</td>
              <td>
                <button
                  [disabled]="role !== 'admin'"
                  class="btn btn-danger btn-xs ml-1"
                  (click)="openModal(confirmModal, { class: 'modal-sm' }); currentlyDeleting = o; currentlyDeletingType = 'position';"
                >close</button>
              </td>
            </tr>
            <tr *ngIf="selectedOrder == i">
              <td class="p-0" colspan="15">
                <table class="table table-xs">
                  <thead class="transparent-header">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Pair</th>
                    <th scope="col">L/S</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Open Price</th>
                    <th scope="col">Market Price</th>
                    <th scope="col">Stop</th>
                    <th scope="col">Limit</th>
                    <th scope="col">Swap</th>
                    <th scope="col">PL</th>
                    <th scope="col">PL(BTC)</th>
                    <th scope="col">PL %</th>
                    <th scope="col">Exposure (BTC)</th>
                    <th scope="col">Opened</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let so of o.suborders; index as sub_i">
                    <tr [tooltip]="tooltip(so.account)" placement="left">
                      <td scope="row">
                        <button disabled style="opacity: 0;" class="btn btn-xs btn-primary">
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </td>
                      <th scope="row">{{ so.pair }}</th>
                      <td>{{ orderType[so.type.direction] }}</td>
                      <td>{{ so.amount | number }}</td>
                      <td>{{ so.open_price | number }}</td>
                      <td>{{ so.current_price | number }}</td>
                      <td>
                        <button
                          [disabled]="role !== 'admin'"
                          (click)="openOrderModal(tradingModal, so, 'stop', false)"
                          class="btn btn-xs btn-outline-danger"
                        >Add</button>
                      </td>
                      <td>
                        <button
                          [disabled]="role !== 'admin'"
                          (click)="openOrderModal(tradingModal, so, 'limit', false)"
                          class="btn btn-xs btn-outline-warning"
                        >Add</button>
                      </td>
                      <td>
                        <span *ngIf="tradeType === 'group'">{{ o.fee | number }}</span>
                        <span *ngIf="tradeType !== 'group'">{{ o.swap | number }}</span>
                      </td>
                      <td>{{ so.pl | number }}</td>
                      <td>{{ so.plmain | number }}</td>
                      <td>{{ so.plmprc | number }}</td>
                      <td>{{ so.exposure | number}}</td>
                      <td>{{ so.open_order_time | date:'short' }}</td>
                      <td>
                        <button
                          [disabled]="role !== 'admin'"
                          class="btn btn-danger btn-xs ml-1"
                          (click)="openModal(confirmModal, { class: 'modal-sm' }); currentlyDeleting = so; currentlyDeletingType = 'position';"
                        >close</button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </tab>

      <tab heading="ORDERS">
        <table class="table table-xs">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Pair</th>
            <th scope="col">Context</th>
            <th scope="col">Type</th>
            <th scope="col">B/S</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Duration</th>
            <th scope="col">Created</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let o of orders; let i = index">
            <tr>
              <td scope="row">
                <button
                  (click)="selectPosition(i)"
                  [disabled]="o.suborders === null || o.suborders.length == 0"
                  *ngIf="selectedPosition != i"
                  class="btn btn-xs btn-primary"
                ><fa-icon icon="plus"></fa-icon></button>
                <button
                  (click)="selectPosition(i)"
                  *ngIf="selectedPosition == i"
                  class="btn btn-xs btn-outline-primary"
                ><fa-icon icon="minus"></fa-icon></button>
              </td>
              <th scope="row">{{ o.pair }}</th>
              <td>{{ orderContext[o.type.context] }}</td>
              <td>{{ orderTypeO[o.type.type] }}</td>
              <td>{{ orderType[o.type.direction] }}</td>
              <td>{{ o.amount | number }}</td>
              <td>{{ o.open_price | number }}</td>
              <td>GTC</td>
              <td>{{ o.open_order_time | date:'short' }}</td>
              <td>
                <button
                  [disabled]="role !== 'admin'"
                  class="btn btn-outline-warning btn-xs"
                  (click)="openModifyModal(modifyModal, i, undefined)"
                >modify</button>
                <button
                  [disabled]="role !== 'admin'"
                  class="btn btn-danger btn-xs ml-1"
                  (click)="openModal(confirmModal, { class: 'modal-sm' }); currentlyDeleting = o; currentlyDeletingType = 'order';"
                >cancel</button>
              </td>
            </tr>
            <tr *ngIf="selectedPosition == i">
              <td class="p-0" colspan="14">
                <table class="table border-white">
                  <thead class="transparent-header">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Pair</th>
                    <th scope="col">Context</th>
                    <th scope="col">Type</th>
                    <th scope="col">B/S</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Created</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let so of o.suborders; index as sub_i">
                    <tr class="p-0" [tooltip]="tooltip(so.account)" placement="left">
                      <td>
                        <button disabled style="opacity: 0" class="btn btn-xs btn-outline-primary">
                          <fa-icon icon="minus"></fa-icon>
                        </button>
                      </td>
                      <th scope="row">{{ so.pair }}</th>
                      <td>{{ orderContext[so.type.context] }}</td>
                      <td>{{ orderTypeO[so.type.type] }}</td>
                      <td>{{ orderType[so.type.direction] }}</td>
                      <td>{{ so.amount | number }}</td>
                      <td>{{ so.open_price | number }}</td>
                      <td>GTC</td>
                      <td>{{ so.open_order_time | date:'short' }}</td>
                      <td>
                        <button
                          [disabled]="role !== 'admin'"
                          class="btn btn-outline-warning btn-xs"
                          (click)="openModifyModal(modifyModal, i, sub_i)"
                        >modify</button>
                        <button
                          [disabled]="role !== 'admin'"
                          class="btn btn-danger btn-xs ml-1"
                          (click)="openModal(confirmModal, { class: 'modal-sm' });  currentlyDeleting = so; currentlyDeletingType = 'order';"
                        >cancel</button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
</div>

<ng-template #confirmModal>
  <div class="modal-body text-center">
    <p>Do you want to cancel ?</p>
    <button type="button" class="btn btn-default" (click)="confirmCancel()">Yes</button>
    <button type="button" class="btn btn-primary ml-2" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #tradingModal>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <h3>{{ currentOrder.pair }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tabset #staticTabs>
          <tab heading="Exchange">
            <form novalidate [formGroup]="exchangeForm" class="mt-3">
              <div class="form-group">
                <label for="exchange_o_type"></label>
                <select class="form-control" id="exchange_o_type" formControlName="o_type">
                  <option value="limit">Limit</option>
                  <option value="market">Market</option>
                  <option value="stop">Stop</option>
                </select>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <input
                    [attr.disabled]="exchangeForm.value.o_type === 'market' ? '' : null"
                    type="number"
                    class="form-control"
                    placeholder="Price"
                    formControlName="price">
                </div>
                <div class="form-group col">
                  <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
                </div>
              </div>
              <div>
                <button
                  [disabled]="role !== 'admin'"
                  type="submit"
                  class="btn btn-success"
                  (click)="buyExchange(exchangeForm.value, exchangeForm.valid)"
                >BUY</button>
                <button
                  [disabled]="role !== 'admin'"
                  type="submit"
                  class="btn btn-danger float-right"
                  (click)="sellExchange(exchangeForm.value, exchangeForm.valid)"
                >SELL</button>
              </div>
            </form>
          </tab>

          <tab heading="Margin" [active]="true">
            <form novalidate [formGroup]="marginForm" class="mt-3">
              <div class="form-group">
                <label for="margin_o_type"></label>
                <select class="form-control" id="margin_o_type" formControlName="o_type">
                  <option value="limit">Limit</option>
                  <option value="market">Market</option>
                  <option value="stop">Stop</option>
                </select>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <input
                    [attr.disabled]="marginForm.value.o_type === 'market' ? '' : null"
                    type="number"
                    class="form-control"
                    placeholder="Price"
                    formControlName="price"
                  >
                </div>
                <div class="form-group col">
                  <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
                </div>
              </div>

              <div>
                <button
                  [disabled]="role !== 'admin'"
                  type="submit"
                  class="btn btn-success"
                  (click)="buyMargin(marginForm.value, marginForm.valid)"
                >BUY</button>
                <button
                  [disabled]="role !== 'admin'"
                  type="submit"
                  class="btn btn-danger float-right"
                  (click)="sellMargin(marginForm.value, marginForm.valid)"
                >SELL</button>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modifyModal>
  <div class="modal-header">
    {{ curr_mod_ord.pair }}
  </div>
  <div class="modal-body">
    <dl class="row">
      <dt class="col-sm-4">TYPE</dt>
      <dd class="col-sm-8">{{ orderTypeO[curr_mod_ord.type.type] }}</dd>
      <dt class="col-sm-4">CONTEXT</dt>
      <dd class="col-sm-8">{{ orderContext[curr_mod_ord.type.context] }}</dd>
    </dl>
    <form novalidate [formGroup]="modifyForm" class="mt-3">
      <div class="form-row">
        <div class="form-group col">
          <label for="edit_mod_open_price">Price</label>
          <input
            id="edit_mod_open_price"
            [attr.disabled]="orderTypeO[curr_mod_ord.type.type] === 'market' ? '' : null"
            type="number"
            class="form-control"
            placeholder="Price"
            formControlName="open_price"
          >
        </div>
        <div class="form-group col">
          <label for="edit_amount">Amount</label>
          <input id="edit_amount" type="number" class="form-control" placeholder="Amount" formControlName="amount">
        </div>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-outline-primary"
          aria-label="Close"
          (click)="modalRef.hide()"
        >CANCEL</button>
        <button
          [disabled]="role !== 'admin'"
          type="submit"
          class="btn btn-success float-right"
          (click)="approveOrder(modifyForm.value, modifyForm.valid)"
        >APPROVE</button>
      </div>
    </form>
  </div>
</ng-template>
