<div class="row">
  <div class="col-12">
    <tabset>
      <tab heading="Positions" id="tab1" (click)="selectTab(0)">
        <table class="table table-bordered table-xs mt-3">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Pair</th>
            <th scope="col">L/S</th>
            <th scope="col">Amount</th>
            <th scope="col">Open Price</th>
            <th scope="col">Market Price</th>
            <th scope="col">Stop</th>
            <th scope="col">Limit</th>
            <th scope="col">Swap</th>
            <th scope="col">PL</th>
            <th scope="col">PL(BTC)</th>
            <th scope="col">PL %</th>
            <th scope="col">Exposure (BTC)</th>
            <th scope="col">Opened</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let o of orderService.positions; let i = index">
            <tr>
              <td scope="row">
                <button (click)="selectedOrder = i" [disabled]="o.suborders === null || o.suborders.length == 0" *ngIf="selectedOrder != i" class="btn btn-xs btn-primary">
                  <fa-icon icon="plus"></fa-icon>
                </button>
                <button (click)="selectedOrder = i" disabled *ngIf="selectedOrder == i" class="btn btn-xs btn-outline-primary">
                  <fa-icon icon="minus"></fa-icon>
                </button>
              </td>
              <th scope="row">{{o.pair}}</th>
              <td>{{orderType[o.type.direction]}}</td>
              <td>{{o.amount}}</td>
              <td>{{o.open_price}}</td>
              <td>{{o.current_price}}</td>
              <td><button (click)="openOrderModal(tradingModal, o, 'stop')" class="btn btn-xs btn-outline-danger">Add</button></td>
              <td><button (click)="openOrderModal(tradingModal, o, 'limit')" class="btn btn-xs btn-outline-warning">Add</button></td>
              <td>{{o.swap}}</td>
              <td>{{o.pl}}</td>
              <td>{{o.plmain}}</td>
              <td>{{o.plmprc}}</td>
              <td></td>
              <td>{{ o.open_order_time | date:'short'}}</td>
              <td>
                <button class="btn btn-outline-danger btn-xs ml-1" (click)="openModal(confirmModal); currentlyDeleting = o; currentlyDeletingType = 'position';">close</button>
              </td>
            </tr>
            <tr *ngIf="selectedOrder == i">
              <td class="p-0" colspan="15">
                <table class="table table-xs">
                  <thead class="transparent-header">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Pair</th>
                    <th scope="col">L/S</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Open Price</th>
                    <th scope="col">Market Price</th>
                    <th scope="col">Stop</th>
                    <th scope="col">Limit</th>
                    <th scope="col">Swap</th>
                    <th scope="col">PL</th>
                    <th scope="col">PL(BTC)</th>
                    <th scope="col">PL %</th>
                    <th scope="col">Exposure (BTC)</th>
                    <th scope="col">Opened</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let so of o.suborders">
                    <tr>
                      <td scope="row">
                        <button disabled style="opacity: 0;" class="btn btn-xs btn-primary">
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </td>
                      <th scope="row">{{so.pair}}</th>
                      <td>{{orderType[so.type.direction]}}</td>
                      <td>{{so.amount}}</td>
                      <td>{{so.open_price}}</td>
                      <td>{{so.current_price}}</td>
                      <td><button (click)="openOrderModal(tradingModal, so, 'stop')" class="btn btn-xs btn-outline-danger">Add</button></td>
                      <td><button (click)="openOrderModal(tradingModal, so, 'limit')" class="btn btn-xs btn-outline-warning">Add</button></td>
                      <td>{{so.swap}}</td>
                      <td>{{so.pl}}</td>
                      <td>{{so.plmain}}</td>
                      <td>{{so.plmprc}}</td>
                      <td></td>
                      <td>{{ so.open_order_time | date:'short'}}</td>
                      <td>
                        <button class="btn btn-outline-danger btn-xs ml-1" (click)="openModal(confirmModal); currentlyDeleting = so; currentlyDeletingType = 'position';">close</button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </tab>
      <tab heading="Orders" id="tab2" (click)="selectTab(1)">
        <table class="table table-xs table-bordered mt-3">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Pair</th>
            <th scope="col">Context</th>
            <th scope="col">Type</th>
            <th scope="col">B/S</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Duration</th>
            <th scope="col">Created</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let o of orderService.orders; let i = index">
            <tr>
              <td scope="row">
                <button (click)="selectedPosition = i" [disabled]="o.suborders === null || o.suborders.length == 0" *ngIf="selectedPosition != i" class="btn btn-xs btn-primary">
                  <fa-icon icon="plus"></fa-icon>
                </button>
                <button (click)="selectedPosition = i" disabled *ngIf="selectedPosition == i" class="btn btn-xs btn-outline-primary">
                  <fa-icon icon="minus"></fa-icon>
                </button>
              </td>
              <th scope="row">{{o.pair}}</th>
              <td>{{orderContext[o.type.context]}}</td>
              <td>{{orderTypeO[o.type.type]}}</td>
              <td>{{orderType[o.type.direction]}}</td>
              <td>{{o.amount}}</td>
              <td>{{o.open_price}}</td>
              <td>GTC</td>
              <td>{{o.open_order_time | date:'short'}}</td>
              <td>
                <button class="btn btn-outline-warning btn-xs" (click)="modify()">modify</button>
                <button class="btn btn-outline-danger btn-xs ml-1" (click)="openModal(confirmModal); currentlyDeleting = o; currentlyDeletingType = 'order';">cancel</button>
              </td>
            </tr>
            <tr *ngIf="selectedPosition == i">
              <td class="p-0" colspan="14">
                <table class="table border-white">
                  <thead class="transparent-header">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Pair</th>
                    <th scope="col">Context</th>
                    <th scope="col">Type</th>
                    <th scope="col">B/S</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Created</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let so of o.suborders">
                    <tr class="p-0">
                      <td>
                        <button disabled style="opacity: 0" class="btn btn-xs btn-outline-primary">
                          <fa-icon icon="minus"></fa-icon>
                        </button>
                      </td>
                      <th scope="row">{{so.pair}}</th>
                      <td>{{orderContext[so.type.context]}}</td>
                      <td>{{orderTypeO[so.type.type]}}</td>
                      <td>{{orderType[so.type.direction]}}</td>
                      <td>{{so.amount}}</td>
                      <td>{{so.open_price}}</td>
                      <td>GTC</td>
                      <td>{{so.open_order_time | date:'short'}}</td>
                      <td>
                        <button class="btn btn-outline-warning btn-xs" (click)="modify()">modify</button>
                        <button class="btn btn-outline-danger btn-xs ml-1" (click)="openModal(confirmModal);  currentlyDeleting = so; currentlyDeletingType = 'order';">cancel</button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
</div>

<ng-template #confirmModal>
  <div class="modal-body text-center">
    <p>Do you want to cancel {{currentlyDeleting}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>


<ng-template #tradingModal class="modal-sm">
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <h3>{{ currentOrder.pair }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tabset #staticTabs>
          <tab heading="Exchange">
            <form novalidate [formGroup]="exchangeForm" class="mt-3">
              <div class="form-group">
                <label for="exchange_o_type"></label>
                <select class="form-control" id="exchange_o_type" formControlName="o_type">
                  <option value="limit">Limit</option>
                  <option value="market">Market</option>
                  <option value="stop">Stop</option>
                </select>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <input
                    [attr.disabled]="exchangeForm.value.o_type === 'market' ? '' : null"
                    type="number"
                    class="form-control"
                    placeholder="Price"
                    formControlName="price"
                  >
                </div>
                <div class="form-group col">
                  <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-success"
                        (click)="buyExchange(exchangeForm.value, exchangeForm.valid)">BUY
                </button>
                <button type="submit" class="btn btn-danger float-right"
                        (click)="sellExchange(exchangeForm.value, exchangeForm.valid)">SELL
                </button>
              </div>
            </form>
          </tab>

          <tab heading="Margin">
            <form novalidate [formGroup]="marginForm" class="mt-3">
              <div class="form-group">
                <label for="margin_o_type"></label>
                <select class="form-control" id="margin_o_type" formControlName="o_type">
                  <option value="limit">Limit</option>
                  <option value="market">Market</option>
                  <option value="stop">Stop</option>
                </select>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <input
                    [attr.disabled]="marginForm.value.o_type === 'market' ? '' : null"
                    type="number"
                    class="form-control"
                    placeholder="Price"
                    formControlName="price"
                  >
                </div>
                <div class="form-group col">
                  <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-success" (click)="buyMargin(marginForm.value, marginForm.valid)">
                  BUY
                </button>
                <button type="submit" class="btn btn-danger float-right"
                        (click)="sellMargin(marginForm.value, marginForm.valid)">SELL
                </button>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</ng-template>
