<form novalidate [formGroup]="accountForm">
  <div
    *ngIf="formType === 'create'"
    class="form-group">
    <label for="key" class="small">Key</label>
    <input
      id="key"
      type="text"
      class="form-control form-control-sm"
      placeholder="Key"
      formControlName="key"
    >
  </div>
  <div
    *ngIf="formType === 'create'"
    class="form-group">
    <label for="secret" class="small">Secret</label>
    <input
      id="secret"
      type="text"
      class="form-control form-control-sm"
      placeholder="Secret"
      formControlName="secret"
    >
  </div>
  <div class="form-group">
    <label for="acc_name" class="small">Acc. Name</label>
    <input
      id="acc_name"
      type="text"
      class="form-control form-control-sm"
      placeholder="Acc. Name"
      formControlName="accName"
    >
  </div>
  <div class="form-group">
    <label for="user_name" class="small">User Name</label>
    <input
      id="user_name"
      type="text"
      class="form-control form-control-sm"
      placeholder="User Name"
      formControlName="userName"
    >
  </div>
  <div class="form-group">
    <label for="risk" class="small">Risk</label>
    <input id="risk" type="number" class="form-control form-control-sm" placeholder="Risk" formControlName="risk">
  </div>
  <div class="form-group">
    <label for="exchange" class="small">Exchange</label>
    <select class="form-control form-control-sm" id="exchange" formControlName="exchange">
      <option *ngFor="let exchange of exchanges" [value]="exchange">{{ exchange | uppercase }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="base_currency" class="small">Base currency</label>
    <select class="form-control form-control-sm" id="base_currency" formControlName="baseCurrency">
      <option *ngFor="let bc of baseCurrency" [value]="bc">{{ bc | uppercase }}</option>
    </select>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Datepicker"
      bsDatepicker
      formControlName="date"
      placement="right"
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }"
    >
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary btn-xs"
      aria-label="Close"
      (click)="close()"
    >Cancel
    </button>
    <button
      *ngIf="formType === 'create'"
      type="submit"
      class="btn btn-success btn-xs float-right"
      (click)="create(accountForm.value, accountForm.valid)"
    >Add
    </button>
    <button
      *ngIf="formType === 'update'"
      type="submit"
      class="btn btn-success btn-xs float-right"
      (click)="update(accountForm.value, accountForm.valid)"
    >Update
    </button>
  </div>
</form>
