<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <!-- GROUP -->
      <div class="form-group">
        <button
          class="btn btn-xs btn-primary"
          (click)="openModal(groupModal, { class: 'modal-sm' })"
          [disabled]="role !== 'admin'"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
          Create group
        </button>
      </div>
      <table class="table table-xs">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          class="cursor-pointer"
          *ngFor="let g of groups"
          [class.table-active]="g.id === group?.id"
          (click)="selectGroup(g.id)"
        >
          <td>{{ g.name }}</td>
          <td>
          <span class="switch switch-sm mr-2">
            <input
              id="switch-{{g.id}}"
              type="checkbox"
              class="switch"
              [disabled]="role !== 'admin'"
              [checked]="g.status?.isActive"
              (click)="updateStatus(g)"
            >
            <label class="m-0" for="switch-{{g.id}}"></label>
          </span>
          </td>
          <td>
            <fa-icon
              class="text-danger float-right"
              title="Edit"
              (click)="edit(g, editGroupModal, { class: 'modal-sm' })"
              [icon]="faEdit"
            ></fa-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6">
      <!-- ACCOUNTS -->
      <div class="form-group">
        <button
          class="btn btn-xs btn-outline-primary"
          [disabled]="role !== 'admin' || !group"
          (click)="openModal(addAccountModal, { class: 'modal-sm' })"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
          Add account
        </button>
      </div>
      <table class="table table-xs">
        <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">
            <ng-container *ngIf="allocationMethod === 'multiplier'">
              Multiplier
            </ng-container>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          class="cursor-pointer"
          *ngFor="let account of group?.accounts"
          [class.table-active]="account.id === settings.subId"
          (click)="selectAccount(account.id)"
        >
          <td>{{ account.userName }}</td>
          <td>
            <ng-container *ngIf="allocationMethod === 'multiplier'">
              {{ multiplier(account.multiplier) }}
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #groupModal>
  <div class="modal-header">
    <h4 class="modal-title">Create Group</h4>
  </div>
  <div class="modal-body">
    <app-group-form
      [formType]="'create'"
    ></app-group-form>
  </div>
</ng-template>

<ng-template #editGroupModal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Group</h4>
  </div>
  <div class="modal-body">
    <app-group-form
      [values]="formValues"
      [formType]="'update'"
    ></app-group-form>
  </div>
</ng-template>

<ng-template #addAccountModal>
  <div class="modal-header">
    <h4 class="modal-title">Add Account</h4>
  </div>
  <div class="modal-body">
    <app-add-account-form
      [accounts]="accounts"
      [group]="group"
    ></app-add-account-form>
  </div>
</ng-template>
