<table class="table table-xs m-0">
  <tbody>
  <tr class="d-flex">
    <th class="col-1" scope="row"></th>
    <td class="col-1">{{ bot.botname }}</td>
    <td class="col-1">{{ bot.volume }}</td>
    <td class="col-1">{{ bot.ve }}</td>
    <td class="col-2">{{ bot.countoc }}</td>
    <td class="col-1">{{ bot.pl }}</td>
    <td class="col-1">{{ bot.plclose }}</td>
    <td class="col-2">{{ bot.pltotal }}</td>
    <td class="col-2">
      <fa-icon
        (click)="isCollapsed = !isCollapsed"
        [icon]="isCollapsed ? 'plus' : 'minus'"
        [attr.aria-expanded]="!isCollapsed"
        [title]="isCollapsed? 'open' : 'close'"
        class="float-right"
      ></fa-icon>
      <fa-icon
        (click)="edit()"
        icon="edit"
        class="text-danger float-right mr-2"
        title="Edit"
      ></fa-icon>
      <span class="switch switch-sm float-right mr-2" title="Visible">
            <input type="checkbox" [checked]="bot.visible" class="switch" id="switch-visible-{{bot.port}}">
            <label class="m-0" for="switch-visible-{{bot.port}}"></label>
          </span>
      <span class="switch switch-sm float-right mr-2" title="Status On">
            <input type="checkbox" [checked]="bot.statuson" class="switch" id="switch-status-{{bot.port}}">
            <label class="m-0" for="switch-status-{{bot.port}}"></label>
          </span>
      <fa-icon
        (click)="stop()"
        icon="stop-circle"
        class="float-right mr-2 text-danger"
        title="Stop"
      ></fa-icon>
    </td>
  </tr>
  </tbody>
</table>

<app-bot-order [collapse]="isCollapsed" [active]="bot.activeorders" [history]="bot.closedorders"></app-bot-order>
