<form novalidate [formGroup]="groupForm">
  <div class="form-group">
    <label for="name" class="small">Group Name</label>
    <input id="name" type="text" class="form-control form-control-sm" formControlName="name" placeholder="Group Name">
  </div>
  <div
    *ngIf="formType === 'create'"
    class="form-group"
  >
    <label for="allocation_method" class="small">Allocation Methods</label>
    <select class="form-control form-control-sm" id="allocation_method" formControlName="allocationMethod">
      <option *ngFor="let am of allocationMethods" [value]="am.value">{{ am.name }}</option>
    </select>
  </div>
  <div
    *ngIf="formType === 'create' && groupForm.value.allocationMethod === 'multiplier'"
    class="form-group"
  >
    <div class="form-row pl-4">
      <div class="form-check col">
        <label class="form-check-label small">
          <input type="radio" class="form-check-input" formControlName="multiplierType" value="percent">Percent</label>
      </div>
      <div class="form-check col">
        <label class="form-check-label small">
          <input type="radio" class="form-check-input" formControlName="multiplierType" value="fix">Fix</label>
      </div>
    </div>
  </div>
  <div
    *ngIf="formType === 'create'"
    class="form-group"
  >
    <label for="exchange" class="small">Exchange</label>
    <select class="form-control form-control-sm" id="exchange" formControlName="exchange">
      <option *ngFor="let exchange of exchanges" [value]="exchange">{{ exchange | uppercase }}</option>
    </select>
  </div>
  <div
    *ngIf="formType === 'create'"
    class="form-group"
  >
    <label for="base_currency" class="small">Base currency</label>
    <select class="form-control form-control-sm" id="base_currency" formControlName="baseCurrency">
      <option *ngFor="let bc of baseCurrency" [value]="bc">{{ bc | uppercase }}</option>
    </select>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary btn-xs float-left"
      aria-label="Close"
      (click)="close()"
    >Cancel
    </button>
    <button
      *ngIf="formType === 'create'"
      type="submit"
      class="btn btn-success btn-xs float-right"
      (click)="create(groupForm.value, groupForm.valid)"
    >Create
    </button>
    <button
      *ngIf="formType === 'update'"
      type="submit"
      class="btn btn-success btn-xs float-right"
      (click)="update(groupForm.value, groupForm.valid)"
    >Update
    </button>
  </div>
</form>
