<form novalidate [formGroup]="groupForm">
  <div class="form-group">
    <label for="name" class="small">Group Name</label>
    <input id="name" type="text" class="form-control form-control-sm" formControlName="name" placeholder="Group Name">
  </div>
  <div class="form-group">
    <label for="allocation_method" class="small">Allocation Method</label>
    <select class="form-control form-control-sm" id="allocation_method" formControlName="allocation_method">
      <option *ngFor="let am of allocationMethod; index as i" [value]="i">{{ am | titlecase }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exchange" class="small">Exchange</label>
    <select class="form-control form-control-sm" id="exchange" formControlName="exchange">
      <option *ngFor="let exchange of exchanges" [value]="exchange">{{ exchange | uppercase }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="base_currency" class="small">Base currency</label>
    <select class="form-control form-control-sm" id="base_currency" formControlName="base_currency">
      <option *ngFor="let bc of baseCurrency" [value]="bc">{{ bc | uppercase }}</option>
    </select>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary btn-xs float-left"
      aria-label="Close"
      (click)="close($event)"
    >Cancel
    </button>
    <button
      *ngIf="formType === 'create'"
      type="submit"
      class="btn btn-success btn-xs float-right"
      (click)="create(groupForm.value, groupForm.valid)"
    >Create
    </button>
    <button
      *ngIf="formType === 'update'"
      type="submit"
      class="btn btn-success btn-xs float-right"
      (click)="update(groupForm.value, groupForm.valid)"
    >Update
    </button>
  </div>
</form>
