<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="./">ATS Platform</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [collapse]="isCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/trading" routerLinkActive="active">Trading Module</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bots" routerLinkActive="active">Automated Trading</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">Account Manager</a>
        </li>
      </ul>

      <div class="btn-group" dropdown #dropdown="bs-dropdown">
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle pr-3 pl-3">
          <img alt="" src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle img-fluid" width="25">
          {{ name }}
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="">
            <fa-icon [icon]="faCogs"></fa-icon>
            Settings</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="onLogout($event)">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
