<form novalidate [formGroup]="marginForm" class="m-2">
  <div class="form-group">
    <label for="o_type" class="small">Exchange Type</label>
    <select class="form-control form-control-sm" id="o_type" formControlName="o_type">
      <option value="0">Stop</option>
      <option value="1">Market</option>
      <option value="2">Limit</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="price" class="small">Price</label>
      <input
        [attr.disabled]="marginForm.value.o_type === 'market' ? '' : null"
        id="price"
        type="number"
        class="form-control form-control-sm"
        placeholder="Price"
        formControlName="price">
    </div>
    <div class="form-group col">
      <label for="amount" class="small">Amount</label>
      <input
        id="amount"
        type="number"
        class="form-control form-control-sm"
        placeholder="Amount"
        formControlName="amount">
    </div>
  </div>
  <div>
    <button
      [disabled]="role !== ROLE.ADMIN"
      type="submit"
      class="btn btn-success btn-xs"
      (click)="buy(marginForm.value, marginForm.valid)"
    >BUY
    </button>
    <button
      [disabled]="role !== ROLE.ADMIN"
      type="submit"
      class="btn btn-danger float-right btn-xs"
      (click)="sell(marginForm.value, marginForm.valid)"
    >SELL
    </button>
  </div>
</form>
