<form
  novalidate
  [formGroup]="addAccountForm"
  (submit)="add(addAccountForm.value, addAccountForm.valid)"
>
  <div class="form-group">
    <label for="accounts" class="small">Accounts</label>
    <select id="accounts" class="form-control form-control-sm" formControlName="accountId">
      <option *ngFor="let account of accounts" [value]="account.id">{{ account.userName }}</option>
    </select>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary btn-xs float-left"
      aria-label="Close"
      (click)="close($event)"
    >Cancel
    </button>
    <button
      type="submit"
      class="btn btn-success btn-xs float-right"
    >Add
    </button>
  </div>
</form>
