<div class="row">
  <div class="col-10">
    <input
      class="search form-control form-control-sm"
      type="text"
      placeholder="Search..."
      [(ngModel)]="tickFilter.pair">
  </div>

  <div class="col-2">
    <button (click)="selectFavorite()" class="btn btn-outline-warning btn-sm favorites">
      <fa-icon [icon]="faStar" [style.color]="color"></fa-icon>
    </button>
  </div>

</div>

<div class="ticks">
  <table class="table table-xs">
    <thead>
    <tr>
      <th scope="col"></th>
      <th
        scope="col"
        (click)="setOrder('pair')"
        [class.active]="order === 'pair'"
      >Pair <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th scope="col"
          (click)="setOrder('last')"
          [class.active]="order === 'last'"
      >Last <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
      <th scope="col"
          (click)="setOrder('dailyChangePercent')"
          [class.active]="order === 'dailyChangePercent'"
      >24HR <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th scope="col"
          (click)="setOrder('volume')"
          [class.active]="order === 'volume'"
      >VOL USD <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
      </th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let tick of ticks | filterBy: tickFilter | orderBy: order:reverse; trackBy: trackByFn">
      <th scope="row">
        <app-favorite-view [rowData]="tick"></app-favorite-view>
      </th>
      <td class="cursor-pointer" (click)="onUserRowSelect(tick.pair);">{{ tick.pair }}</td>
      <td>{{ tick.last }}</td>
      <td><span [ngClass]="tick.dailyChangePercent > 0 ? 'text-success' : 'text-danger'">
        {{ tick.dailyChangePercent }}%</span></td>
      <td>{{ tick.volume }}</td>
      <td>
        <app-button-view [rowData]="tick"></app-button-view>
      </td>
    </tr>
    </tbody>
  </table>

</div>
