:host /deep/ {
  .ticks {
    overflow-y: auto;
    max-height: 420px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .search {
    margin: 4px 0;
  }

  .favorites {
    margin: 4px 0;
  }

  thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;

    span {
      visibility: hidden;
    }

    &.active {
      color: #000;

      span {
        visibility: visible;
      }
    }
  }
}
