<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.valid)" role="form"
      method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" class="form-control rounded-0" name="username" required=""
           formControlName="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" class="form-control rounded-0" required="" formControlName="password">
  </div>
  <button type="submit" class="btn btn-success float-right">Login</button>
</form>
