<div class="container-fluid fixed-bottom bg-dark" (click)="openModal(statusBarModal)">
  <div class="row text-white">
    <div class="col">
      <small>BC</small>
      <h6>{{ balance.baseCurrency }}</h6>
    </div>
    <div class="col">
      <small>Balance</small>
      <h6>{{ balance.balance | number }}</h6>
    </div>
    <div class="col">
      <small>WSB</small>
      <h6>{{ balance.WSB | number }}</h6>
    </div>
    <div class="col">
      <small>Equity</small>
      <h6>{{ balance.equity | number }}</h6>
    </div>
    <div class="col">
      <small>PL (%)</small>
      <h6>{{ balance.Pl | number }}</h6>
    </div>
    <div class="col">
      <small>Exposure</small>
      <h6>{{ balance.exposure | number }}</h6>
    </div>
    <div class="col">
      <small>PL</small>
      <h6>{{ balance.totalPL | number }}</h6>
    </div>
    <div class="col">
      <small>Exp/Eq</small>
      <h6>{{ balance.exposure / balance.equity * 100 | number }}</h6>
    </div>
  </div>
</div>

<ng-template #statusBarModal>
  <div class="modal-body">
    <form [formGroup]="transferForm" (ngSubmit)="onTransfer(transferForm.value, transferForm.valid)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="groups">Groups</label>
          <select id="groups" class="form-control form-control-sm" formControlName="group">
            <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="accounts">Accounts</label>
          <select id="accounts" class="form-control form-control-sm" formControlName="account">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.userName }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="market1">Market</label>
        <select id="market1" class="form-control form-control-sm" (change)="chooseMarker($event.target.value)"
                formControlName="market1">
          <option value="exchange">Exchange</option>
          <option value="margin">Margin</option>
          <option value="funding">Funding</option>
        </select>
      </div>

      <table *ngIf="balance.perCurrencyBalances" class="table table-xs table-hover">
        <thead>
        <tr>
          <th scope="col">Currency</th>
          <th *ngIf="currBalance === 'exchange'" scope="col">Exchange</th>
          <th *ngIf="currBalance === 'margin'" scope="col">Margin</th>
          <th *ngIf="currBalance === 'funding'" scope="col">Funding</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let per of balance.perCurrencyBalances"
          (click)="chooseCurrency(per.currency)"
          [class.table-active]="currency === per.currency"
        >
          <th scope="row">{{ per.currency }}</th>
          <td *ngIf="currBalance === 'exchange'"><span *ngIf="per.exchange">{{ per.exchange[0] }}
            / {{ per.exchange[1] }}</span></td>
          <td *ngIf="currBalance === 'margin'"><span *ngIf="per.margin">{{ per.margin[0] }}
            / {{ per.margin[1] }}</span></td>
          <td *ngIf="currBalance === 'funding'"><span *ngIf="per.funding">{{ per.funding[0] }}
            / {{ per.funding[1] }}</span></td>
        </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="market2">Market</label>
        <select id="market2" class="form-control form-control-sm" formControlName="market2">
          <option value="exchange">Exchange</option>
          <option value="margin">Margin</option>
          <option value="funding">Funding</option>
        </select>
      </div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input id="amount" type="number" class="form-control form-control-sm" formControlName="amount"
               placeholder="Amount">
      </div>

      <button type="submit" class="btn btn-primary btn-xs" [disabled]="!transferForm.valid">Transfer</button>
    </form>
  </div>
</ng-template>

