<div class="row">
  <div class="col">
    <h4>
      <small class="text-muted">Base currency</small>
      <div>{{ balance.base_currency }}</div>
    </h4>
  </div>
  <div class="col">
    <h4>
      <small class="text-muted">WSB</small>
      <div>100</div>
    </h4>
  </div>
  <div class="col">
    <h4>
      <small class="text-muted">PL (%)</small>
      <div>50</div>
    </h4>
  </div>
  <div class="col">
    <h4>
      <small class="text-muted">Equity</small>
      <div>500</div>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h5 class="mt-3">Balances</h5>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Exchange</th>
        <th scope="col">Margin</th>
        <th scope="col">Funding</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let b of balance.balances">
        <td scope="col">{{b.currency}}</td>
        <td scope="col">{{b.exchange | number}}</td>
        <td scope="col">{{b.margin | number}}</td>
        <td scope="col">{{b.funding | number}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
