<form novalidate [formGroup]="marketForm" class="m-2">
  <div class="form-group">
    <label for="type" class="small">{{ marketType | titlecase }} Type</label>
    <select
      class="form-control form-control-sm"
      id="type"
      formControlName="type">
      <option *ngFor="let type of orderType" [value]="type">{{ type | titlecase }}</option>
    </select>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="price" class="small">Price</label>
      <input
        [attr.disabled]="marketForm.value.type === 'market' ? '' : null"
        id="price"
        type="number"
        class="form-control form-control-sm"
        placeholder="Price"
        formControlName="price">
    </div>
    <div class="form-group col">
      <label for="amount" class="small">Amount</label>
      <input
        id="amount"
        type="number"
        class="form-control form-control-sm"
        placeholder="Amount"
        formControlName="amount"
        (change)="calcTotal()"
      >
    </div>
  </div>

  <div *ngIf="marketType === 'margin' && marketForm.value.type === 'limit'" class="form-group pl-4">
    <input
      id="isOCO"
      type="checkbox"
      class="custom-control-input mr-2"
      formControlName="isOCO"
    >
    <label
      class="custom-control-label small"
      for="isOCO"
    >Is OCO ?</label>
  </div>

  <div *ngIf="marketForm.value.isOCO && marketType === 'margin' && marketForm.value.type === 'limit'"
       class="form-group">
    <label
      for="priceOCOStop"
      class="small"
    >Price OCO Stop</label>
    <input
      id="priceOCOStop"
      type="number"
      class="form-control form-control-sm col-6"
      placeholder="Price OCO Stop"
      formControlName="priceOCOStop"
    >
  </div>

  <div>
    <button
      [disabled]="role !== ROLE.ADMIN"
      type="submit"
      class="btn btn-success btn-xs"
      (click)="market(marketForm.value, marketForm.valid, 'buy')"
    >BUY
    </button>
    <button
      [disabled]="role !== ROLE.ADMIN"
      type="submit"
      class="btn btn-danger btn-xs float-right"
      (click)="market(marketForm.value, marketForm.valid, 'sell')"
    >SELL
    </button>
  </div>

  <div *ngIf="group">
    <table class="table table-xs mt-2">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of group?.accounts">
        <th scope="row">{{ a.accName }}</th>
        <td>{{ marketForm.value.amount * (a.multiplier || 0) }}</td>
      </tr>
      <tr>
        <th scope="row">Total</th>
        <td>{{ total }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</form>
