<table class="table table-xs mt-3">
  <thead>
  <tr>
    <th scope="col">Pair</th>
    <th scope="col">L/S</th>
    <th scope="col">Amount</th>
    <th scope="col">Open Price</th>
    <th scope="col">Market Price</th>
    <th scope="col">Swap</th>
    <th scope="col">PL</th>
    <th scope="col">PL(BTC)</th>
    <th scope="col">PL %</th>
    <th scope="col">Exposure (BTC)</th>
    <th scope="col">Opened</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let d of data; let i = index">
    <tr>
      <th scope="row">{{ d.pair }}</th>
      <td>{{ orderType[d.type.direction] }}</td>
      <td>{{ d.amount }}</td>
      <td>{{ d.open_price }}</td>
      <td>{{ d.current_price }}</td>
      <td>{{ d.swap }}</td>
      <td>{{ d.pl | number}}</td>
      <td>{{ d.plmain | number:'1.0-4' }}</td>
      <td>{{ d.plmprc | number:'1.0-4' }}</td>
      <td></td>
      <td>{{ d.open_order_time | date:'short' }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
