::ng-deep .modal-body {
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0079FA;
    border: none;
    border-bottom: 2px solid !important;
    font-weight: bold;
  }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    color: #0079FA;
    font-size: 14px;
  }
}
