
<!-- ** NAV BAR ** -->
<app-nav-bar></app-nav-bar>

<!-- ** GROUPS & ACCOUNTS ** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <tabset #generalTabs>
        <tab heading="GROUPS" id="groups" (select)="onSelectGeneralTab('groups')" [disabled]="readonly">
          <app-groups-tab
            [group]="group$ | async"
            [groupsSection]="groups$ | async"
            [accountsSection]="accounts$ | async"
            (select)="onSelect($event)"
            [settings]="settings['groups']"
            [readonly]="readonly"
          ></app-groups-tab>
        </tab>
        <tab heading="ACCOUNTS" id="accounts" (select)="onSelectGeneralTab('accounts')">
          <app-accounts-tab
            [account]="account$ | async"
            [accountsSection]="accounts$ | async"
            (select)="onSelect($event)"
            [readonly]="readonly"
          ></app-accounts-tab>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- ** BALANCE ** -->
<div class="container-fluid">
  <div class="row border-top">
    <div class="col-12">
      <app-balance-details
        *ngIf="(isLoadingBalance$ | async) === false"
        [section]="balance$ | async"
      ></app-balance-details>
    </div>
  </div>
</div>

<!-- ** ORDERS & POSITIONS ** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 border-top">
      <tabset #ordersTabs>
        <tab heading="POSITIONS" id="positions" (select)="onSelectOrderTab('positions')">
          <app-positions
            *ngIf="(isLoadingPositions$ | async) === false"
            [type]="currentType"
            [section]="positions$ | async"
            [accountsSection]="accounts$ | async"
            [readonly]="readonly"
          ></app-positions>
        </tab>
        <tab heading="ORDERS" id="orders" (select)="onSelectOrderTab('orders')">
          <app-orders
            *ngIf="(isLoadingOrders$ | async) === false"
            [section]="orders$ | async"
            [accountsSection]="accounts$ | async"
            [readonly]="readonly"
          ></app-orders>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div *ngIf="genActiveTab === 'accounts'" class="container-fluid border-top">
  <div class="row">
    <div class="col-12">
      <h5>History</h5>
      <app-positions
        *ngIf="(isLoadingHistories$ | async) === false"
        [section]="histories$ | async"
        [accountsSection]="accounts$ | async"
        [readonly]="historyReadOnly"
        [componentRole]="'history'"
      ></app-positions>
    </div>
  </div>
</div>
