<!-- ** NAV BAR ** -->
<app-nav-bar></app-nav-bar>

<!-- ** GROUPS & ACCOUNTS  ** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <app-groups
        *ngIf="(isLoadingGroups$ | async) === false"
        [id]="currentId"
        [type]="currentType"
        [section]="groups$ | async"
        (select)="onSelect($event)"
      ></app-groups>
    </div>
    <div class="col-lg-3 col-md-6">
      <app-accounts
        *ngIf="(isLoadingAccounts$ | async) === false"
        [id]="currentId"
        [type]="currentType"
        [section]="accounts$ | async"
        (select)="onSelect($event)"
      ></app-accounts>
    </div>
  </div>
</div>

<!-- ** TICKS ** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-ticks
        *ngIf="(ticksIsLoading$ | async) === false"
        [id]="currentId"
        [type]="currentType"
        [section]="ticks$ | async"
      ></app-ticks>
    </div>
    <div class="col-9">
      <app-tv-chart></app-tv-chart>
    </div>
  </div>
</div>

<!-- ** ORDERS & POSITIONS ** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 border-top">
      <tabset #ordersTabs>
        <tab heading="POSITIONS" (select)="selectTab('positions')">
          <app-positions
            *ngIf="(isLoadingPositions$ | async) === false"
            [id]="currentId"
            [type]="currentType"
            [section]="positions$ | async"
            [accountsSection]="accounts$ | async"
          ></app-positions>
        </tab>
        <tab heading="ORDERS" (select)="selectTab('orders')">
          <app-orders
            *ngIf="(isLoadingOrders$ | async) === false"
            [id]="currentId"
            [section]="orders$ | async"
            [accountsSection]="accounts$ | async"
          ></app-orders>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- ** BALANCE ** -->
<app-balance
  *ngIf="(isLoadingBalance$ | async) === false"
  [section]="balance$ | async"
  [groupsSection]="groups$ | async"
  [accountsSection]="accounts$ | async"
></app-balance>
