<div class="login-container">
  <div class="mask">
    <div class="container login-inner-container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="login mt-5">
            <form (submit)="makeLogin()">
              <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input [(ngModel)]="login" name="login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
