<nav class="navbar navbar-expand-lg bg-dark justify-content-between"
     style="background-color: #08405a !important;">
  <div class="container-fluid">
    <div class="branding col">
      <a href="#" class="navbar-brand">
        <span class="title" style="color: #fff">Asset management</span>
      </a>
    </div>
    <div class="float-right" id="settings">
      <a routerLinkActive="active" routerLink="/settings"
         class="nav-link nav-icon settings" target="_blank">
        <fa-icon [icon]="faCog"></fa-icon>
      </a>
    </div>
  </div>
</nav>
<div class="content-container">
  <div class="row">
    <div class="col-3 pt-3 home-sidenav">
      <nav class="sidenav">
        <section class="sidenav-content">
          <div class="p-3">
            <a routerLinkActive="active" routerLink="/trading"
               [routerLinkActiveOptions]="{exact: true}" id="create"
               class="btn btn-primary btn-block" target="_blank">
              <fa-icon icon="plus"></fa-icon>
              Trading
            </a>
          </div>
          <div class="p-3">
            <a routerLinkActive="active" routerLink="/bots"
               id="bots" class="btn btn-primary btn-block" target="_blank">
              <fa-icon icon="plus"></fa-icon>
              Bots
            </a>
          </div>
        </section>
      </nav>
    </div>
    <div class="content-area col-9">
      ...
    </div>
  </div>
</div>

