<div class="row">
  <div class="col-6">
    <button class="btn btn-primary btn-sm mt-3 mb-3" [disabled]="accountService.role == 'guest'" (click)="openModal(accountModal)">
      <fa-icon icon="plus"></fa-icon> Create account
    </button>
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Acc. Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Exchange</th>
        <th scope="col">BC</th>
        <th scope="col">Rank</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let a of accounts; index as i"
        (click)="currentAccount($event, i)"
        [class.table-active]="a.id === account?.id"
      >
        <th scope="col">{{ i + 1 }}</th>
        <td scope="col">
          <span class="switch switch-sm">
          <input [disabled]="accountService.role == 'guest'" type="checkbox" [checked]="a.status" class="switch" id="switch-{{a.id}}">
          <label for="switch-{{a.id}}"></label>
        </span>
        </td>
        <td scope="col">{{ a.acc_name }}</td>
        <td scope="col">{{ a.user_name }}</td>
        <td scope="col">{{ a.exchange }}</td>
        <td scope="col">{{ a.base_currency }}</td>
        <td scope="col">{{ a.risk }}</td>
        <td scope="col">{{ a.created_at | date:'shortDate' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <app-balance *ngIf="balance" [balance]="balance"></app-balance>
    <app-order *ngIf="balance" [order]="balance"></app-order>
  </div>
</div>

<ng-template #accountModal class="modal-sm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create account</h4>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="accountForm" (submit)="createAccount(accountForm.value, accountForm.valid)">
      <div class="form-group">
        <label>Acc. Name</label>
        <input type="text" class="form-control" placeholder="Acc. Name" formControlName="acc_name">
      </div>
      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" placeholder="User Name" formControlName="user_name">
      </div>
      <div class="form-group">
        <label>Risk</label>
        <input type="text" class="form-control" placeholder="Risk" formControlName="risk">
      </div>
      <div class="form-group">
        <label for="account_exchange">Exchange</label>
        <select id="account_exchange" class="form-control" formControlName="exchange">
          <option selected value="bitfinex">Bitfinex</option>
          <option value="cexio">CEX.IO</option>
        </select>
      </div>
      <div class="form-group">
        <label for="account_base_currency">Base currency</label>
        <select id="account_base_currency" class="form-control" formControlName="base_currency">
          <option selected value="usd">USD</option>
          <option value="btc">BTC</option>
          <option value="eth">ETH</option>
          <option value="eur">EUR</option>
        </select>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-outline-primary"
          aria-label="Close"
          (click)="modalRef.hide()">CANCEL
        </button>
        <button type="submit" class="btn btn-primary float-right">ADD</button>
      </div>
    </form>
  </div>
</ng-template>
