<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <tabset #typeTabs>
        <tab heading="GROUPS" id="groups" (select)="onSelectTypeTab('groups')">
          <app-groups-tab></app-groups-tab>
        </tab>
        <tab heading="ACCOUNTS" id="accounts" (select)="onSelectTypeTab('accounts')">
          <app-accounts-tab></app-accounts-tab>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 border-top">
      <tabset #ordersTabs>
        <tab heading="ORDERS" id="orders" (select)="onSelectOrderTab('orders')">
          <app-orders
            *ngIf="(isLoadingOrders$ | async) === false"
            [section]="orders$ | async"
            [accountsS]="accounts$ | async"
          ></app-orders>
        </tab>
        <tab heading="POSITIONS" id="positions" (select)="onSelectOrderTab('positions')">
          <app-positions
            *ngIf="(isLoadingPositions$ | async) === false"
            [id]="id$ | async"
            [type]="type$ | async"
            [section]="positions$ | async"
            [accountsS]="accounts$ | async"
          ></app-positions>
        </tab>
      </tabset>
    </div>
  </div>
</div>
