#ticks::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#ticks::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

#ticks::-webkit-scrollbar-thumb
{
  background-color: #363C42;
}

.ticks-container {
  overflow-y: auto;
  max-height: 400px;
}

:host /deep/ ng2-smart-table {
  font-size: 10px;

  input {
    height: 20px;
  }
}
