#ticks {
  overflow-y: auto;
  max-height: 300px;
  max-width: 360px;

  &::-webkit-scrollbar {
    display: none;
  }
}

:host /deep/ ng2-smart-table {
  font-size: 12px;

  tr {
    td {
      padding: 0 4px!important;
    }
  }
}
