<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <button
          type="button"
          title="Filter"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          class="btn btn-outline-primary"
        ><fa-icon icon="sliders-h"></fa-icon></button>
      </div>
    </div>
    <div [collapse]="isCollapsed" class="row">
      <div class="col-12">
        <div class="card mt-2 mb-2 p-2">
          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <label for="groups">Groups</label>
                <select
                  id="groups"
                  class="form-control form-control-sm"
                  [ngModel]="selectedGroup"
                  (change)="changeType('group', $event.target.value)">
                  <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="accounts">Accounts</label>
                <select
                  id="accounts"
                  class="form-control form-control-sm"
                  [ngModel]="selectedAccount"
                  (change)="changeType('account', $event.target.value)">
                  <option *ngFor="let account of accounts" [value]="account.id">{{ account.user_name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input
      #search
      class="search form-control form-control-sm"
      type="text"
      placeholder="Search"
      (keyup)="onSearch(search.value)">
    <div class="ticks">
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (userRowSelect)="onUserRowSelect($event)"
      ></ng2-smart-table>
    </div>
  </div>
  <div class="col-9 pl-0">
    <app-tv-chart
      [symbol]="_symbol"
    ></app-tv-chart>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-order
      [type]="tradeType"
    ></app-order>
  </div>
</div>

<app-status-bar
  [groups]="groups"
  [accounts]="accounts"
></app-status-bar>
