#ticks {
  overflow-y: auto;
  max-height: 550px;

  &::-webkit-scrollbar {
    display: none;
  }

  .search {
    margin: 4px 0;
  }
}

:host /deep/ ng2-smart-table {
  ng2-smart-table-title > a {
    color: black;
  }

  font-size: 12px;

  tr {
    td {
      padding: 0 4px!important;
    }
  }
}
