<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-3 pb-3">
      <div class="row">
        <div class="col-1">
          <button (click)="openModal(botModal)" class="btn btn-xs btn-success">
            <fa-icon icon="plus"></fa-icon>
            New Bot
          </button>
        </div>

        <div class="col-2">
          <select class="form-control form-control-sm" (change)="changeFilter($event.target.value, 'pair')">
            <option *ngFor="let tick of ticks$ | async" [value]="tick.pair">
              {{ tick.pair }}
            </option>
          </select>
        </div>

        <div class="col-2">
          <select class="form-control form-control-sm" (change)="changeFilter($event.target.value, 'group')">
            <option *ngFor="let group of groups" [value]="group.id">
              {{ group.name }}
            </option>
          </select>
        </div>

      </div>

      <div class="row">
        <div class="col-12 mt-3">
          <app-template
            *ngFor="let template of templates"
            [template]="template"
            [groups]="groups"
            [accounts]="accounts"
          ></app-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #botModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Bot</h4>
  </div>

  <div class="modal-body">
    <form novalidate [formGroup]="botForm">

      <div class="form-group">
        <label for="cr_strategy">Strategy</label>
        <select class="form-control form-control-sm" id="cr_strategy" formControlName="strategy"
                (change)="chooseStrategy($event.target.value)">
          <option *ngFor="let item of strategy" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <ng-container *ngIf="this.botForm.value.strategy">
        <div class="form-group">
          <label for="cr_template">Template</label>
          <select class="form-control form-control-sm" id="cr_template" formControlName="template"
                  (change)="chooseTemplate($event.target.value)">
            <option
              *ngFor="let item of str_templates; index as i"
              [value]="item.template">
              {{ item.template }}
            </option>
          </select>
        </div>
      </ng-container>

      <div *ngIf="currentStrategy?.id === 'grid'" formGroupName="grid">
        <div class="form-group">
          <label for="grid_account_exchange">Exchange</label>
          <select id="grid_account_exchange" class="form-control form-control-sm" formControlName="exchange"
                  (change)="chooseExchange($event.target.value)">
            <option selected value="any">Any</option>
            <option value="bitfinex">Bitfinex</option>
            <option value="cexio">CEX.IO</option>
          </select>
        </div>

        <div class="form-group">
          <label for="grid_group">Groups</label>
          <select id="grid_group" class="form-control form-control-sm" formControlName="group"
                  (change)="changeSelect($event, 'group')">
            <option *ngFor="let group of groups" [value]="group.id">
              {{ group.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="grid_accounts">Accounts</label>
          <select id="grid_accounts" class="form-control form-control-sm" formControlName="account"
                  (change)="changeSelect($event, 'account')">
            <option *ngFor="let a of accounts" [value]="a.id">
              {{ a.user_name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="grid_long_term_priority">Long Term Priority</label>
          <select class="form-control form-control-sm" id="grid_long_term_priority" formControlName="long_term_priority">
            <option selected value="0">Long</option>
            <option value="1">Short</option>
          </select>
        </div>

        <div class="form-group">
          <label for="pair">Pair</label>
          <input id="pair" class="form-control form-control-sm" formControlName="pair">
        </div>

        <div class="form-group">
          <label for="initial_volume">Initial Volume</label>
          <input id="initial_volume" class="form-control form-control-sm" formControlName="initial_volume">
        </div>

        <div class="form-group">
          <label for="initial_volume_percent">Initial Volume Percent</label>
          <input id="initial_volume_percent" class="form-control form-control-sm"
                 formControlName="initial_volume_percent">
        </div>

        <div class="form-group">
          <label for="max_amount">Max Amount</label>
          <input id="max_amount" class="form-control form-control-sm" formControlName="max_amount">
        </div>

        <div class="form-group">
          <label for="step_fix">Step Fix</label>
          <input id="step_fix" class="form-control form-control-sm" formControlName="step_fix">
        </div>

        <div class="form-group">
          <label for="step_calc">Step Calc</label>
          <input id="step_calc" class="form-control form-control-sm" formControlName="step_calc">
        </div>

        <div class="form-group">
          <label for="trade_level_up">Trade Level Up</label>
          <input id="trade_level_up" class="form-control form-control-sm" formControlName="trade_level_up">
        </div>

        <div class="form-group">
          <label for="trade_level_down">Trade Level Down</label>
          <input id="trade_level_down" class="form-control form-control-sm" formControlName="trade_level_down">
        </div>

        <div class="form-group">
          <label for="priority_coefficient">Priority Coefficient</label>
          <input id="priority_coefficient" class="form-control form-control-sm" formControlName="priority_coefficient">
        </div>

        <div class="form-group">
          <label for="volume_coeff_up">Volume Coefficient Up</label>
          <input id="volume_coeff_up" class="form-control form-control-sm" formControlName="volume_coeff_up">
        </div>

        <div class="form-group">
          <label for="volume_coeff_down">Volume Coefficient Down</label>
          <input id="volume_coeff_down" class="form-control form-control-sm" formControlName="volume_coeff_down">
        </div>

        <div class="form-group">
          <label for="close_triger">Close Trigger</label>
          <input id="close_triger" class="form-control form-control-sm" formControlName="close_triger">
        </div>

        <div class="form-group">
          <label for="distribution_from_up">Distribution From Up</label>
          <input id="distribution_from_up" class="form-control form-control-sm" formControlName="distribution_from_up">
        </div>
      </div>

      <div *ngIf="currentStrategy?.id === 'ia'" formGroupName="ia">
        <div class="form-group">
          <label for="ia_account_exchange">Exchange</label>
          <select id="ia_account_exchange" class="form-control form-control-sm" formControlName="exchange"
                  (change)="chooseExchange($event.target.value)">
            <option selected value="any">Any</option>
            <option value="bitfinex">Bitfinex</option>
            <option value="cexio">CEX.IO</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ia_group">Groups</label>
          <select id="ia_group" class="form-control form-control-sm" formControlName="group"
                  (change)="changeSelect($event, 'group')">
            <option *ngFor="let group of groups" [value]="group.id">
              {{ group.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="ia_accounts">Accounts</label>
          <select id="ia_accounts" class="form-control form-control-sm" formControlName="account"
                  (change)="changeSelect($event, 'account')">
            <option *ngFor="let a of accounts" [value]="a.id">
              {{ a.user_name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="ia_long_term_priority">Long Term Priority</label>
          <select class="form-control form-control-sm" id="ia_long_term_priority" formControlName="long_term_priority">
            <option selected value="0">Long</option>
            <option value="1">Short</option>
          </select>
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input id="amount" class="form-control form-control-sm" formControlName="amount">
        </div>

        <div class="form-group">
          <label for="revenue">Revenue (%)</label>
          <input id="revenue" class="form-control form-control-sm" formControlName="revenue">
        </div>
      </div>

      <div *ngIf="currentStrategy?.id === 'ea'" formGroupName="ea">
        <div class="form-group">
          <label for="ea_account_exchange">Exchange</label>
          <select id="ea_account_exchange" class="form-control form-control-sm" formControlName="exchange"
                  (change)="chooseExchange($event.target.value)">
            <option selected value="any">Any</option>
            <option value="bitfinex">Bitfinex</option>
            <option value="cexio">CEX.IO</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ea_group">Groups</label>
          <select id="ea_group" class="form-control form-control-sm" formControlName="group"
                  (change)="changeSelect($event, 'group')">
            <option *ngFor="let group of groups" [value]="group.id">
              {{ group.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="ea_accounts">Accounts</label>
          <select id="ea_accounts" class="form-control form-control-sm" formControlName="account"
                  (change)="changeSelect($event, 'account')">
            <option *ngFor="let a of accounts" [value]="a.id">
              {{ a.user_name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="ea_long_term_priority">Long Term Priority</label>
          <select class="form-control form-control-sm" id="ea_long_term_priority" formControlName="long_term_priority">
            <option selected value="0">Long</option>
            <option value="1">Short</option>
          </select>
        </div>

        <div class="form-group">
          <label for="open_trigger">Open Trigger (%)</label>
          <input id="open_trigger" class="form-control form-control-sm" formControlName="open_trigger">
        </div>

        <div class="form-group">
          <label for="open_trigger_volume_step">Open Trigger & Volume Step (%)</label>
          <input id="open_trigger_volume_step" class="form-control form-control-sm"
                 formControlName="open_trigger_volume_step">
        </div>

        <div class="form-group">
          <label for="close_trigger">Close Trigger (%)</label>
          <input id="close_trigger" class="form-control form-control-sm" formControlName="close_trigger">
        </div>

        <div class="form-group">
          <label for="next_trade_timer_min">Next Trade Timer (min)</label>
          <input id="next_trade_timer_min" class="form-control form-control-sm" formControlName="next_trade_timer_min">
        </div>

        <div class="form-group">
          <label for="initial_trade_volume">Initial Trade Volume (USD)</label>
          <input id="initial_trade_volume" class="form-control form-control-sm" formControlName="initial_trade_volume">
        </div>

        <div class="form-group">
          <label for="max_trades_cap">Max Trades Cap</label>
          <input id="max_trades_cap" class="form-control form-control-sm" formControlName="max_trades_cap">
        </div>

        <div class="form-group">
          <label for="max_exposure">Max Exposure (%, from Equity)</label>
          <input id="max_exposure" class="form-control form-control-sm" formControlName="max_exposure">
        </div>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-outline-primary float-left btn-sm"
          aria-label="Close"
          (click)="resetForm()"
        >Cancel
        </button>

        <button
          type="submit"
          class="btn btn-primary float-right btn-sm"
          [disabled]="!this.botForm.valid"
          (click)="createBot(botForm.value, botForm.valid)"
        >Run
        </button>

        <button
          type="submit"
          class="btn btn-success float-right mr-1 btn-sm"
          [disabled]="!this.botForm.valid"
          (click)="save(botForm.value, botForm.valid)"
        >Save
        </button>

        <button
          type="submit"
          class="btn btn-success float-right mr-1 btn-sm"
          [disabled]="!this.botForm.valid"
          (click)="saveAs(botForm.valid, saveModal)"
        >Save As
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #saveModal>
  <div class="modal-body text-center">
    <div class="form-group">
      <label for="template_name">New Template Name</label>
      <input id="template_name" class="form-control" #template_name>
    </div>
    <button type="button" class="btn btn-default" (click)="confirmSaveAs(template_name.value)">Apply</button>
  </div>
</ng-template>
